html {
  overflow-y: scroll;
}

body, #root {
  min-height: 100svh;
  margin-block: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

.card-container {
  padding-block: 0.25rem;

  &.hidden {
    padding-block: 0;
  }

  .card-content {
    background-color: var(--bg-muted);
    border-radius: var(--bd-radius);
    transition: background-color .2s ease-out;

    &:not(.no-padding) {
      padding: 0.75rem 1rem;
    }

    &.link {
      color: var(--default);
      &:active, &:hover {
        color: inherit;
      }
    }
  }

  &:not(.disabled) {
    cursor: pointer;

    &:hover {
      .card-content {
        transition: none;
        background-color: hsl(from var(--bg-muted) h s calc(l - 5));
      }
    }
  }

  &.disabled {
    cursor: default;

    .card-content {
      background: transparent;
      border: 1px dashed var(--muted);
    }
  }
}
